body {
    /* The image used */
    background: url(images/templates_images/home-bg.jpg) #050503;


    /* Full height */
    /*height: 100%;*/
    /*min-height: 100%;*/

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: certain;
}

.nav-opacity {
    background-color: rgba(0, 0, 0, 0.8);
}

.card.card-opacity {
    opacity: 0.8;
}

.card-body-opacity {
    background-color: rgba(54, 54, 54, 0.7);
}

.overflow-auto {
    overflow: auto;
}

.card-text {
    color: darkgoldenrod;
}
.card-title {
    color: darkgoldenrod;
}

.card-header {
    font-style: oblique;
    font-size: larger;
    font-weight: bold;
    color: yellow;
}
.campaigns-actions-nav {
    font-size: xx-large;
    font-weight: bold;
    color: yellow;
}
.custom-image-size {
    max-height: 1550px;
    max-width: 240px;
    object-fit: cover;
    object-position: 80% 0;
}
.custom-image-size2 {
    max-height: 200px;
    max-width: 260px;
    object-fit: scale-down;
}


.custom-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    animation: buttonAppear 2s forwards;
}

@keyframes buttonAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes leap {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

.zoom-animation {
    animation: zoomBackground 1.5s linear forwards;
}

@keyframes zoomBackground {
    0% {
        background-size: 75%;
    }
    25% {
        background-size: 120%;
        background-position: 50%, 40%;
    }
    50% {
        background-size: 200%;
        background-position: 50%, 40%;
    }
    75% {
        background-size: 280%;
        background-position: 50% 40%;
    }
    90% {
        background-size: 320%;
        background-position: 50% 40%;
    }
    100% {
        background-size: 400%;
        background-position: 50% 40%;
    }
}

#picture {
    transition: transform 1.5s;
}

.entered {
    transform: scale(1);
}

.entering {
    transform: scale(2);
}