{% extends "layout.html" %}
{% block content %}


<h1>Welcome to the Eldritch Horror Campaign Manager!</h1>
<p>Our app is designed to enhance your Eldritch Horror board game experience by providing a seamless and efficient way to track your campaigns. With our intuitive interface, you can easily manage and monitor your progress in this thrilling Lovecraftian universe.</p>
<p>Keep all your campaign details organized in one place. From creating new campaigns to tracking ongoing ones, our app allows you to delve deep into the mysteries of Eldritch Horror with ease. Stay on top of your investigators' progress, record their encounters, and track their skills as they face the ancient terrors lurking in the shadows.</p>
<p>With the Eldritch Horror Campaign Manager, you can focus on the immersive storytelling and strategic gameplay, while our app takes care of the campaign tracking and management. Embrace the cosmic horror, unveil dark secrets, and strive to prevent the world from falling into chaos.</p>
<p>Start your journey into the unknown with the Eldritch Horror Campaign Manager today. Get ready to face the horrors that await, track your campaigns effortlessly, and experience the true essence of Lovecraftian terror.</p>


{% endblock content %}

<style>
    body {
        font-family: "Georgia", serif;
        background-color: #0a0a0a;
        color: #ffffff;
        padding: 20px;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>