{% extends "layout.html" %}
{% block content %}
<div class="container-fluid mt-10">
    <div class="row mt-10 mh-100">
        <div class="col-2"></div>
        <div class="col-7 mh-100 h-100 overflow-auto">
            {% for campaign in campaigns %}
            <div class="card nav-opacity
                {{ 'border-success' if campaign.state == 'won' }}
                {{ 'border-secondary' if campaign.state == 'in_progress' }}
                {{ 'border-danger' if campaign.state == 'lost' }} mt-3 mb-3">
                <div class="card-header card-header-font
                {{ 'bg-success' if campaign.state == 'won' }}
                {{ 'bg-dark' if campaign.state == 'in_progress' }}
                {{ 'bg-danger' if campaign.state == 'lost' }}">
                    {{ 'Victory' if campaign.state == 'won' }}
                    {{ 'Defeat' if campaign.state == 'lost' }}
                    {{ 'In progress' if campaign.state == 'in_progress' }}
                </div>
                <div class="card-body card-body-opacity
                {{ ' alert-success' if campaign.state == 'won' }}
                {{ ' alert-danger' if campaign.state == 'lost' }}">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="card-title no-opacity">Campaign #{{ loop.revindex }}</h5>
                            {% if campaign.state == 'won' %}
                            <p class="card-text">All 6 ancients were defeated </p>
                            {% elif campaign.state == 'lost' %}
                            <p class="card-text">Players beaten by {{ campaign.current_ancient.name }}</p>
                            {% else %}
                            <p class="card-text">Current is {{ campaign.current_ancient.name }}</p>
                            {% endif %}
                            <a href="/campaign/{{campaign.id}}" class="btn btn-dark align-self-end">Details</a>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            {% if campaign.state != 'won' %}
                            <img src="{{url_for('static', filename=campaign.current_ancient.image_path)}}"
                                 class="rounded float-right img-fluid"
                                 alt="Eldritch is {{ campaign.current_ancient.name }}">
                            {% else %}
                            <img src="{{url_for('static', filename='images/victory3.jpg')}}"
                                 class="rounded float-right img-fluid custom-image-size2"
                                 alt="Victory!">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-3 ">
            <div class="content-section nav-opacity fluid mt-2">
                <h3 class="campaigns-actions-nav text-center">Campaigns page</h3>
                <p class="text-danger text-center">Here you can overview your games
                <div class="d-flex flex-column">
                    <form class="text-center" action="" method="POST">
                        <button class="btn btn-outline-secondary mb-2 col-10" name="test" value="test">Create new
                        </button>
                        <button class="btn btn-outline-secondary mb-2 col-10" type="button">Random game</button>
                        <button class="btn btn-outline-secondary mb-2 col-10" type="button">Test</button>
                    </form>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/campaigns.js')}}"></script>

{% endblock content %}