{% extends "layout.html" %}
{% block content %}
    <p> Content coming soon ...</p>

    <button class="custom-button" id="homeButton">Click Me</button>

<script src="js/home.js" defer></script>

{% endblock content %}