<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    {% if title %}
    <title>Eldritch Chronicle - {{ title }}</title>
    {% else %}
    <title>Eldritch Horror</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark nav-opacity">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Eldritch Horror</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('about') }}">About</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('campaigns_get') }}">Campaigns</a></li>
                </ul>
                <!-- Navbar Right Side -->
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="mt-2"><span class="nav-item mr-5 text-danger">Logged as {{ current_user.username }}</span></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<script src="js/main.js" defer></script>

</body>
</html>